<div class="session-container">
    <div class="session-header">
        <h1 class="session-page">All Mentors</h1>
        <label class="session-search-box">Search: <input ng-model="searchText"></label>
    </div>


    <div class="alert alert-success" ng-if="mentorRemoved">
        <strong>Success!</strong> Session has been Removed!
    </div>
    <div class="alert alert-success" ng-if="mentorUpdated">
        <strong>Success!</strong> Mentor has been Updated!
    </div>
    <div class="row">
        <div class="col-md-3 mentor-card" style="border: .5px solid gray; border-radius: 5px;"
             ng-repeat="mentor in mentors | orderBy: 'demographic' | filter: searchText">
            <div class="card card-outline-primary">
                <h3 class="card-title">{{mentor.name}}</h3>
                <h6 class="card-subtitle text-muted">{{mentor.demographic}}</h6>
                <p class="card-text">Phone #: {{mentor.phonenumber}}</p>
                <p class="card-text text">Bio: {{mentor.bio}}</p>
                <a href="#/updateMentor/{{mentor.id}}" class="btn btn-primary btn-sm" style="margin: 5px">Update
                    Mentor</a>
                <button class="btn  btn-primary btn-sm" data-toggle="modal" id="{{mentor.id}}, {{mentor.name}}"
                        data-target="#removeSession">Remove
                </button>

            </div>
        </div>

        <div class="modal fade" id="removeSession" tabindex="-1" role="dialog" aria-labelledby="removeSessionLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="removeMentor">Are you sure you want to remove the following
                            person? </h4>
                    </div>
                    <h3 class="modal-body mentorTitle" style="color: #0859A6">
                    </h3>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn" style="background-color: #0859A6; color: white"
                                ng-click="removeMentor(sessionId)"
                                data-dismiss="modal">Remove
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>