<div class="alert alert-success" ng-if="creationSuccess">
    <strong>Success!</strong> Session has been added!
</div>

<div class="alert alert-danger" ng-if="creationFailure">
    <strong>Failure!</strong> Session not added! Please check your form and try again.
</div>


<div class="jumbotron">
<form id="newSessionForm">
    <div class="form-group">
        <label>Mentor Name</label>
        <input type="text" class="form-control" placeholder="Enter Session Title (Required)" ng-model="mentor.name"/>
    </div>
    <div class="form-group">
        <label>Mentor Phone </label>
        <input type="text" class="form-control" placeholder="First and Last Name (Required)" ng-model="mentor.phonenumber"/>
    </div>
    <div class="form-group">
        <label>Mentor Demographic </label>
        <input type="text" class="form-control" placeholder="Men, Women, Ect" ng-model="mentor.demographic"/>
    </div>
    <div class="form-group">
        <label>Mentor Photo</label>
        <input type="text" class="form-control" placeholder="Img URL (Can be from conference website img hosting)" ng-model="mentor.photo"/>
    </div>
    <div class="form-group">
        <label>Mentor Email</label>
        <input type="text" class="form-control" placeholder="someone@something.com" ng-model="mentor.email"/>
    </div>
    <div class="form-group">
        <label>Mentor Residence</label>
        <input type="text" class="form-control" placeholder="City" ng-model="mentor.residence"/>
    </div>
    <div class="form-group">
        <label>Mentor Marital Status</label>
        <input type="text" class="form-control" placeholder="Single, Married" ng-model="mentor.maritalstatus"/>
    </div>
    <div class="form-group">
        <label>Mentor Children</label>
        <input type="text" class="form-control" placeholder="7, none, cats" ng-model="mentor.children"/>
    </div>
    <div class="form-group">
        <label>Mentor Bio</label>
        <textarea class="form-control" rows="5" placeholder="Speaker Bio" ng-model="mentor.bio"></textarea>
    </div>


    <button type="submit" class="btn btn-primary" href="#/mentors" ng-click="addMentor(mentor); resetForm()" >Submit</button>
</form>
</div>
